<h1> Seja bem-vindo! </h1>

<p> Data: <%= date_br(Date.today) %> </p>

<p>
    <%= app_name %>
</p>

<%#= 1+1 %> 

<%#= "Emanuelle".reverse %>

<%# a = "variavel A" %>

<%#= a %>

<ul>
    <li>
        <%#= link_to 'Cadastro de Moedas', '/coins' %>
        <%= link_to 'Cadastro de Moedas', coins_path %>
    </li>
</ul>

<p>
    Você está em ambiente de <strong> <%= rails_env %> </strong>
</p>


<p>
    <%= @nome @teste %> 
</p>

<p>
    <%= @curso %> <%#= Variável de instância/sessão %>
</p>
