<div class="jumbotron">
  <h1 class="display-4"> <%= t('welcome') %> </h1>
  <p class="lead"> <%= t('message.welcome') %> </p>
  <hr class="my-4">
  <p> <%= t('message.menu')%> </p>
  <%#= Chamar um partial %>
  <%= render "menu" %>
</div>

<%#=
Seja bem-vindo!

O idioma usado nessa aplicação é: <%#= t("current_locale") %>

<%#= Data: <%#= I18n.l(Date.today) %> 

<%#= I18n.t('hello') %> 

<%#= t('hello') %> 

<%#= app_name %>

<%#= 1+1 %> 

<%#= "Emanuelle".reverse %>

<%# a = "variavel A" %>

<%#= a %>

<%#=Você está em ambiente de <%= rails_env %>

<%#= @nome %> 

<%#= @teste %> 

<%#= @curso %> <%#= Variável de instância/sessão %>